# Palmer Penguins Modeling

Import the Palmer Penguins dataset and print out the first few rows.

Suppose we want to predict `bill_depth_mm` using the other variables in the dataset.

**Dummify** all variables that require this.

In [18]:
import pandas as pd
import numpy as np
from palmerpenguins import load_penguins

df_penguins = load_penguins()

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [19]:
df_penguins_dummies = pd.get_dummies(df_penguins, drop_first=True)

Let's use the other variables to predict `bill_depth_mm`. Prepare your data and fit the following models on a training dataset subset of the entire dataset:

* Four different models, each containing a different set of predictor variables

Create a plot like the right plot of Fig 1. in our `Model Validation` chapter with the training and test error plotted for each of your four models.

Which of your models was best?

In [21]:
df_penguins_dummies.head()

   bill_length_mm  bill_depth_mm  ...  island_Torgersen  sex_male
0            39.1           18.7  ...              True      True
1            39.5           17.4  ...              True     False
2            40.3           18.0  ...              True     False
3             NaN            NaN  ...              True     False
4            36.7           19.3  ...              True     False

[5 rows x 10 columns]

In [24]:
# Model 1

df_penguins_dummies = df_penguins_dummies.dropna(subset=["bill_length_mm", "bill_depth_mm"])

     bill_length_mm  bill_depth_mm  ...  island_Torgersen  sex_male
0              39.1           18.7  ...              True      True
1              39.5           17.4  ...              True     False
2              40.3           18.0  ...              True     False
4              36.7           19.3  ...              True     False
5              39.3           20.6  ...              True      True
..              ...            ...  ...               ...       ...
339            55.8           19.8  ...             False      True
340            43.5           18.1  ...             False     False
341            49.6           18.2  ...             False      True
342            50.8           19.0  ...             False      True
343            50.2           18.7  ...             False     False

[342 rows x 10 columns]